body {
    font-family: Arial, sans-serif;
    background-color: #09adc2;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.card-group {
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 400px;
}

    .card:hover {
        transform: translateY(-5px); /* Эффект при наведении */
    }

.card-header {
    background-color: #09adc2;
    color: white;
    padding: 15px;
    font-size: 1.25rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-footer {
    display: flex;
    justify-content: space-between; /* Расположение кнопок */
    padding: 10px 15px;
}

.btn {
    background-color: #09adc2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none; /* Убираем подчеркивание для ссылок */
}

    .btn:hover {
        background-color: #0056b3; /* Цвет кнопки при наведении */
    }

.btn-group {
    margin-top: 20px; /* Отступ сверху для группы кнопок */
}
