body {
    font-family: Arial, sans-serif;
    background-color: #09adc2;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.card-group {
    display: flex; /* Используем Flexbox для выравнивания карточек */
    flex-wrap: wrap; /* Позволяем карточкам переноситься на новую строку */
    justify-content: flex-start; /* Выравнивание по левому краю */
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: calc(33.333% - 20px);
    min-width: 1000px;
    max-width: 1000px;
    margin: 10px; /* Добавляем отступы между карточками */
}

    .card:hover {
        transform: translateY(-5px); /* Эффект при наведении */
    }

@media (max-width:400x) {
    .card {
        width: calc(50% - 20px); /* Уменьшаем ширину карточек на меньших экранах */
    }
}


.card-header {
    background-color: #09adc2;
    color: white;
    padding: 15px;
    font-size: 1.25rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-footer {
    display: flex;
    padding: 10px 15px;
}

.btn {
    background-color: #09adc2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none; 
}

    .btn:hover {
        background-color: #0056b3; 
    }

.btn-group {
    margin-top: 20px;
}

.btn-edit {
    background-color: #28a745; 
    border-color: #28a745; 
    color: white; 
}

    .btn-edit:hover {
        background-color: #218838; 
        border-color: #1e7e34;
    }

.btn-danger {
    background-color: #dc3545; 
    border-color: #dc3545;
    color: white;
}

    .btn-danger:hover {
        background-color: #c82333; 
        border-color: #bd2130; 
    }

.btn-detail {
    background-color: #919493;
    border-color: #919493;
    color: white;
}
    .btn-detail:hover {
        background-color: #595d5b;
        border-color: #595d5b;
    }

.btn-group m-2 {
    margin: 10px;
}